{% extends "base.html" %}

{% block title %}HOME PAGE{% endblock %}

{% block content %}
    <div class="container notes">
    <div class="row">
      {% for url in all_urls %}
        <div class="col-4 note-item">
          <div class="post">
            <div class="post-body">
              <h5 class="post-title">URL</h5>
              <p class="post-text">{{ url.url }}</p>
              <h5 class="post-title">Short URL</h5>
              <p class="post-text">http://127.0.0.1:8000/{{ url.short }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}